{% extends "base.html" %}

{% load static socialaccount %}

{% load i18n %}

{% load static %}

{% block title %}Inicio{% endblock %}

{% block extra_head %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
{% endblock %}


{% block content %}
<div id="main">
    <div class="inner">

        <!-- Header -->
        <header id="header">
            <a href="{{ request.get_full_path }}" class="logo"><strong>Mis compras</strong> / Excursiones Brasil</a>
            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a>
                </li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-whatsapp"><span class="label">Whatsapp</span></a></li>
            </ul>
        </header>



    </div>
</div>

{% endblock %}